{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.0/css/all.css">

    <title>Homepage</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top mynavbar">
        <div class="container">
            <a class="navbar-brand" href="#">
                My Blog
            </a>
            <button class="navbar-toggler navbar-toggler-right nav-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/MulaiTes">Mulai Tes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/CaraKerja">Cara Kerja</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/FAQ">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-primary" href="#">Info RS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Tentang">Tentang</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
   

    <br><br><br>
    <!-- SEARCH BAR/WRAPPER (BLM DI STYLING)-->
    <div id='searchWrapper'>
        <input
            id='cari-list'
            type="text"
            name="searchBar"
            id="searchBar"
            placeholder="Search Hospital"
        />
    </div>    

    <br>
    <!-- DROPDOWN Pilih Kota (BLM DI STYLING)-->
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Pilih Kota
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#jakarta">Jakarta</a></li>
          <li><a class="dropdown-item" href="#bekasi">Bekasi</a></li>
          <li><a class="dropdown-item" href="#depok">Depok</a></li>
        </ul>
      </div>

    <br>
    <!-- DATABASE RS (BLM DI STYLING)-->
    <div class='listRS'>
        <ul id="jakarta">
            <li class="item-list"><h3>RSU Fatmawati</h3><p>Jl. RS Fatmawati Cilandak, Jakarta Selatan<br>(021) 7501524</p></li>
            <li class="item-list"><h3>RSU Dr Cipto Mangunkusumo</h3><p>Jl. Diponegoro No. 71, Jakarta Pusat<br>(021) 31930808</p></li>
            <li class="item-list"><h3>RS PAD Gatot Soebroto</h3><p>Jl. Dr A. Rahman Saleh 24, Jakarta Pusat<br>(021) 3840702</p></li>            
        </ul>
        <ul id="bekasi">
            <li class="item-list"><h3>RS Mitra Keluarga Pratama</h3><p>Jl. Raya Jatimekar, Kota Bekasi<br>(021) 85511000</p></li>
            <li class="item-list"><h3>RS Siloam Bekasi Timur</h3><p>Jl. Chairil Anwar Blu Plaza Nomor 27, Kelurahan Margahayu, Kota Bekasi<br>(021) 80611900</p></li>
            <li class="item-list"><h3>RSU Bella</h3><p>Jl. Ir H Juanda Nomor 141 Kota Bekasi<br>(021) 8801778</p></li>
        </ul>
        <ul id="depok">
            <li class="item-list"><h3>RSUD Kota Depok</h3><p>Jl. Raya Muchtar No. 99, Sawangan, Kota Depok<br>(021) 251 8602 514</p></li>
            <li class="item-list"><h3>RS Hermina Depok</h3><p>Jl. Raya Siliwangi No. 50, Pancoran Mas, Kota Depok<br>(021) 7720 2525, 1500 488</p></li>
        </ul>
    </div>

    <script src='app.js'></script>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  </body>
</html>